ion-content {
    --background: #f4f4f4;
  }
  
    .content{
        padding: 200px 20px 0px;

    }

  
  .reset-container{
    max-width: 400px;
    margin: auto; 
    text-align: center;
  }
  
  .reset-form ion-item{
    width: 100%;
    max-width: 500px;
  
  }
  
  .send-link-button-container{
    display: flex;
    justify-content: center;
  }

  ion-item {
    --background: var(--input);
    --highlight-color-focused: #4b3a3a;
    border-radius: 6px;
  }
  